@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #282A35;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    color: rgba(226, 245, 239, 0.993);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4em;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
}
.navigation a{
    color:rgba(226, 245, 239, 0.993) ;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9em;
    font-style: italic;
    padding-left: 40px;
}
/*hover hia dal li kaykon fach kanhat l curseur*/
.navigation a:hover{
    color:rgb(231, 90, 8) ;   
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height:100vh;
    display: flex;
    align-items: center;
    background-color: #282A35;
    background: url(2.jpg) no-repeat;
    background-size:cover;
    background-position: center;
   /* background-attachment: fixed;*//*katkhali sora fblashta*/
}
.main h1 {
    color: goldenrod;
    font-size: 1.8em;
    font-weight:500;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color:goldenrod;
    font-size: 1.2em;
    letter-spacing: 0.7px;
    font-style:italic;
    font-family: cursive;
}
.main h2 {
    color: ghostwhite;
    font-size:1.8em;
    font-weight: 600;
    font-style: italic;
    
}
.main h3 {
    color: #ffff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-style: italic;
}
.main-btn {
    color: bisque;
    background-color:chocolate ;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    border-radius: 15px ;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    margin-bottom: 40px;
    transition: 0.6s ease;
    
}
.main-btn:hover{
    background-color:rgb(245, 107, 9);
    transform: scale(1.2);
}
.social-icons a{
    color: #ffff;
    font-size: 1.7em;
    padding-right: 30px;
}
.title {
    display: flex;
    justify-content: center;
    color:rgb(228, 135, 13);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: white;
    width: 18.21em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 10);
    border-radius: 10%;
    padding: 25px;
    margin: 10px;
    transition: 0.6s ease;
}
.card:hover{
    background-color:rgb(224, 233, 173);
    transform: scale(1.2);

}
.icon {
    color:rgb(36, 26, 48);
    font-size: 8em;
    text-align: center;
}
.info {
    text-align: center;
}
.info h3 {
    color: rgb(102, 92, 3);
    font-size: 1.2em;
    font-weight: 800;
    margin: 10px;

}
.Mouad {
    background-color: rgb(50, 48, 54);
}
.Mouad .content {
    margin: 30px;
}
.Mouad-card{
    background-color: white;
    border: 3px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.Mouad-card:hover{
    transform: scale(1.1);
}
.Mouad-card:hover .project-image{
    opacity: 0.9;
}
.Mouad-image img{
    width: 100%;
}
.Mouad-info{
    padding: 1em;
}
.Mouad-category{
    font-size: 0.8em;
    color: black;
}
.Mouad-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;


}
.more-details{
    text-decoration: none;
    color: rgb(8, 24, 245);
}
.more-details:hover{
    color:rgb(103, 2, 143) ;

}
.contact .icon{
    font-size: 4.5em;
    color: #1c1c88;
}
.contact .info h3 {
    color: black;
}

.contact .info p {
    font-size: 1.2em;
    font-weight: 500;
}
footer{
    background-color:  rgb(50, 48, 54);
    /*loun text*/
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 700;
}
.footer-title span{
    color: darkkhaki;
    font-family:'serif';

}
.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;

    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2 {
        font-size: 1em;
    }
    .main-content h3 {
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }

}
@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }
}
@media (max-width:300px){
    body{
        font-size: 10px;
    }
}
    
